*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #100F0F;
}

.contenedor_nav{
    width: 100%;
}

.navbar_main{  
    height: 100px;
    background-color: #100F0F;
    width: 100%;
    margin: auto; 
    padding: 20px 0;
    /* USAMOS FLEXBOX PARA SEPARAR EL LOGO DE LOS ENLACES*/
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar_main-logo{
    margin-left: 20px;
    width: 80px;
}

.navbar_main ul li{
    list-style: none;  /*CHAU LISTAS*/
    display: inline-block; /*uno alado del otro*/
    margin: 0 20px; /*20px a los costados*/
    position: relative;
}


.navbar_main ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

/* ANIMO LOS BOTONES DEL NAVBAR */

.navbar_main ul li::before{
    content: "";
    height: 3px;
    width: 0%;
    background: white;
    position: absolute;
    left:0;
    bottom: -12px;
    transition: .4s ease-in-out;
}

.navbar_main ul li:hover::before{
    width: 100%;
}

/* EMPEZAMOS A TRABAJAR CON EL BODY*/

.contenedor{
    background-size: cover;
    background-position: center;
    padding: 50px;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
}

.contenedor_main{
    background-image: url(./img/fondomain.jpg);
}

.contenedor_secondary{
    background-size: cover;
    background-position: center;
    padding: 50px;
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./img/consecionario.jpg);
}

    .introduccion__izq{
        margin: 0 160px 0 100px;
        height: 350px;
        width: 900px;
        padding: 40px; 
        background-color: rgba(5, 3, 3, 0.8);
        color:white;
        font-weight: 1000;
        border: 5px solid black;
        box-shadow: 10px 8px black;
    }
        .introduccion__izq h2{
            margin-left: 20px;
            font-weight: 2000;
        }
        .introduccion__izq p{
            color: white;
        }

    .galeria__der{
        width: 100%;
        margin: 50px 0 50px 90px;
    }
    
    .galeria__der img{
        width: 50%;
        height: 50%;
        border-radius: 5px;
        border: 5px solid black;
        box-shadow: 10px 8px black;
    }

    /* TRABAJAMOS CON LO QUE ES LA SECCION DE 3 COLUMNAS */
    .contenedor_secondary{
        display: flex;
        height: 100vh;
    }
    
    .titles{
        color: white;
        font-size: 40px;
        text-align: center;
        background-color: black;
    }
    .subtitles{
        margin: 20px 0 0 10px;
        font-size: 20px;
        color: white;
        background-color: black;
        border-radius: 20px;
        text-align: center;
    }
    .items{
        margin-top: 5px;
        color:white;
        list-style:circle;
        font-size: 18px;/* 
        justify-content: center; */
        background-color: black;
    }

    .divBox{
        width: 450px;
        margin: 0 20px 0 10px;
        height: 300px;
        border: 3px solid white;
    }
    
    .divBox:hover{
        box-shadow: 10px 8px grey;
        cursor: pointer;
        transition: 0.3s;
    }

        .left{
            background-image: url(./img/rapidez.jpg);
            background-position: center;
            background-size: cover;
            background-color: red;
        }
        .center{
            background-image: url(./img/confort.jpg);
            background-position: center;
            background-size: cover;
            background-color: blue;
        }
        .right{
            background-image: url(./img/ymuchomas.jpg);
            background-position: center;
            background-size: cover;
            background-color: green;
        }


    /* CODIGO DE LA SECCION DONDE SE ENVIA LA SUGERENCIA*/
        
        .login{
            color:white;
            background-image: url(./img/fondologin2.jpg);
            background-size: cover;
            height: 100vh;
        }
        
        .container{
            height: 80vh;
            width: 100%;
            margin: 0px 25% 0 30%;
            padding-top: 90px;
        }

            .login h1{
                color: black;
                text-shadow: 1px 1px 2px black, 0 0 1em white, 0 0 0.2em white;
                
            }
            .login p{
                display: inline-block;
                color: black;
                background-color: white;
            }

            .formulario_sugerencias{
                width: 50%;
            }

            .btnEliminar {
                margin: 30px 0 10px 15%;
            }

    /*CODIGO DEL EXHIBIDOR*/

    #concesionaria{
        gap: 30px;
    }

    #concesionaria .btn:hover{
        box-shadow: 1px 1px 10px rgb(246, 172, 35);
    }

    .cardsMostradas{
        margin-top: 50px;
        margin-bottom: 40px;
        margin-left: 60px;
    }

    /*Codigo de sstock*/

    .informacion{
        text-align: center;
        color: white;
        margin: 160px 0 50px 0;
    }
    .catalogo{
        justify-content: center;
        margin: 80px 0 0 0;
        gap: 20px;
    }
    .img-catalogo{
        width: 228px;
        height: 220px;
        margin-bottom: 20px;
        border: 2px solid black;
        border-radius: 10px;
    }